body {
  background: rgb(133, 108, 100)
}
h1 {
  text-align: center;
}
.caixa1 {
   position: relative;
   background: rgb(161, 230, 218);
   width: 200px;
   height: 200px;
   color: #FFFFFF;
   left: 50%;
}
.menuPrincipal {
  position: absolute;
  background: rgb(158, 104, 155);
  width: 100%;
  height: 100px;
  top: 0pt;
}
